.App {
  max-width: 600px;
  margin: 50px auto;
}

.App footer {
  font-size: 12px;
  padding: 16px;
  background-image: linear-gradient(0deg, #a6c1ee 0, #fbc2ebbb);
  border: 1px solid #17a3b87a;
  border-radius: 0px 0px 20px 20px;
}

a {
  color: #17a2b8;
  text-decoration: none;
}
a:hover {
  color: #17a2b8;
  text-decoration: underline;
}


@media (max-width: 576px) {
  .App {
   margin: 10px auto;
}
}