.Weather {
  background-image: linear-gradient(0deg, #a6c1ee 0, #fbc2eb);
  border: 1px solid #17a2b8;
  border-radius: 12px;
  font-family: sans-serif, Roboto;
  padding: 16px;
  color: #17a2b8;
}

.Weather h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather input,
.btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  outline: 0;
  padding: 10px;
  border-radius: 10px !important;
  transition: all 200ms ease-in-out;
}

.Weather input {
  border: none;
  color: #17a2b8 !important;
}

.Weather .btn {
  color: #f8f0f0 !important;
}

.Weather input:hover {
  border: 1px solid #17a2b8;
}

.Weather .form-control:focus {
  border-color: #17a2b8;
  box-shadow: none;
}

.Weather canvas {
  width: 64px;
  height:64px;
  position: relative;
  top: 10px;
  left: 10px;
  margin-right: 15px;
  display: inline-block;
}
.Weather .temperature {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
}

.Weather .weather-date {
  position: relative;
  top: 25px;
}

.Weather .unit {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -34px;
}
